/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
  transition: background-color 0.5s, color 0.5s;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Player de Música */
#player {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Capa do Álbum */
#album-cover {
  width: 100%;
  display: flex;
  justify-content: center;
}

#cover-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* Informações da Faixa */
#track-info {
  margin-top: 20px;
}

#track-info h2 {
  font-size: 2em;
  margin-bottom: 5px;
  text-align: center;
}

#track-info p {
  font-size: 1.2em;
  text-align: center;
}

/* Controles */
#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#controls button {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 3em; /* Aumentando o tamanho do botão */
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 800px) {
  #cover-image {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  #cover-image {
    max-width: 300px;
  }

  #controls button {
    font-size: 2.5em;
  }
}

@media (max-height: 800px) {
  #cover-image {
    max-height: 400px;
  }

  #controls button {
    font-size: 2.5em;
  }
}

@media (max-height: 600px) {
  #cover-image {
    max-height: 300px;
  }

  #controls button {
    font-size: 2em;
  }
}
